<h3><%= @restaurant[:name] %></h3><%= link_to "Edit", edit_restaurant_path %> | <%= link_to "Back to Restaurants", restaurants_path %><br />

<p><strong>Address: </strong><%= @restaurant[:address] %><br /></p>
<p><strong>Cateogry: </strong><%= @restaurant[:category] %><br /></p>
<p><strong>Summary: </strong><%= @restaurant[:summary] %></p>
